@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Pirata+One&family=Ubuntu&display=swap');

:root {
  --background: #30363d;
  --second-background: rgba(147, 147, 147, 0.3);
  --main: #ffffff;
  --second: #939393;
  --special: #c73636;
}

* {
  margin: 0;
  padding: 0;
  font-size: 10px;
  box-sizing: border-box;
  background: var(--background);
}

.droppable {
  background-color: var(--second-background);
}
